<div class='tile-link-pp'>
    <div class='tile-link-pp-content' style="background-color: {{ resource.backgroundColor }};">
        <a href="{{ resource.linkUrl }}" {% if resource.linkNewWindow %}target="_blank"{% endif %}>
            <div>
                <span>
                    {{ resource.linkText }}
                </span>
            </div>
        </a>
    </div>
</div>
